src/main/mule/customer-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<configuration-properties file="config-${env}.yaml" />
	<http:listener-config name="customer-process-api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>

	<http:request-config name="HTTP_Request_System_Config">
		<http:request-connection host="${system.host}" port="${system.port}" />
	</http:request-config>

	<apikit:config name="customer-process-api-config" api="resource::38cd32ec-dbaf-4d31-bc6e-25087cbf3c52:customer-process-api:1.0.0:raml:zip:customer-process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="customer-process-api-main">
		<http:listener config-ref="customer-process-api-httpListenerConfig" path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>

		<!-- Reusing correlationId from Experience layer for traceability -->
		<set-variable variableName="correlationId" value="#[attributes.headers.'x-correlation-id' default correlationId]" />
		<logger level="INFO" message="PROCESS START - correlationId: #[vars.correlationId]" />

		<apikit:router config-ref="customer-process-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="put:\customers\(id):application\json:customer-process-api-config">

		<!-- Extract ID -->
		<ee:transform doc:name="Extract ID">
			<ee:variables>
				<ee:set-variable variableName="id">
					attributes.uriParams.'id'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<!-- Log (opcional pero útil) -->
		<logger level="INFO" message="Calling System API to update customer with id: #[vars.id]" />

		<!-- CALL PROCESS API -->
		<http:request method="PUT" doc:name="Call Process API - Update Customer" config-ref="HTTP_Request_System_Config" path="/api/customers/{id}">

			<!-- BODY FIRST -->
			<http:body>
        		<![CDATA[#[payload]]]>
    		</http:body>
    		
    		<!-- Passing correlationId to next layer -->
			<http:headers>
   			 #[{
    		    "X-Correlation-ID": vars.correlationId
  			  }]
			</http:headers>

			<!-- URI PARAMS AFTER -->
			<http:uri-params>
        		<![CDATA[#[{
       		     id: vars.id
       		 }]]]>
    		</http:uri-params>

		</http:request>

	</flow>
	<flow name="delete:\customers\(id):customer-process-api-config">

		<set-variable variableName="id" value="#[attributes.uriParams.id]" />

		<logger level="INFO" message="DELETE customer id: #[vars.id]" />

		<http:request method="DELETE" config-ref="HTTP_Request_System_Config" path="api/customers/{id}">

			<!-- Passing correlationId to next layer -->
			<http:headers>
   			 #[{
    		    "X-Correlation-ID": vars.correlationId
  			  }]
			</http:headers>
			<http:uri-params><![CDATA[#[{ id: vars.id }]]]></http:uri-params>

		</http:request>

	</flow>
	<flow name="get:\customers:customer-process-api-config">

		<logger level="INFO" message="GET all customers" />

		<http:request method="GET" config-ref="HTTP_Request_System_Config" path="/api/customers" />

	</flow>
	<flow name="get:\customers\(id):customer-process-api-config">

		<set-variable variableName="id" value="#[attributes.uriParams.id]" />

		<logger level="INFO" message="GET customer id: #[vars.id]" />

		<http:request method="GET" config-ref="HTTP_Request_System_Config" path="/api/customers/{id}">
			<!-- Passing correlationId to next layer -->
			<http:headers>
   			 #[{
    		    "X-Correlation-ID": vars.correlationId
  			  }]
			</http:headers>
			<http:uri-params><![CDATA[#[{ id: vars.id }]]]></http:uri-params>

		</http:request>

	</flow>
	<flow name="post:\customers:application\json:customer-process-api-config">

		<logger level="INFO" message="CREATE customer" />

		<http:request method="POST" config-ref="HTTP_Request_System_Config" path="/api/customers">
			
			<http:body><![CDATA[#[payload]]]></http:body>
			<!-- Passing correlationId to next layer -->
			<http:headers>
   			 #[{
    		    "X-Correlation-ID": vars.correlationId
  			  }]
			</http:headers>

		</http:request>

	</flow>
</mule>
